# vectorization
## ref
- https://towardsdatascience.com/do-you-use-apply-in-pandas-there-is-a-600x-faster-way-d2497facfa66

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randint(0,11,size=(10000,5)), columns=('a', 'b', 'c','d', 'e'))

In [4]:
df

       a   b   c  d  e
0      4  10   8  0  8
1      4   5   3  1  6
2      2   1   7  7  5
3      8   4   6  8  5
4      6   8   3  5  7
...   ..  ..  .. .. ..
9995   1   8   0  6  5
9996   5   0  10  5  6
9997  10   5   7  2  6
9998   3   2   7  5  6
9999   0   3   0  3  4

[10000 rows x 5 columns]

In [15]:
%%time
# Apply

def func(a,b,c,d,e):
    if e == 10:
        return c*d
    elif (e <10) and (e >=5):
        return c+d
    elif e < 5:
        return a+b

df['new'] = df.apply(lambda r: func(r['a'], r['b'], r['c'], r['d'], r['e']), axis=1)

CPU times: user 103 ms, sys: 1.33 ms, total: 104 ms
Wall time: 103 ms

In [16]:
%%time
# Vectorization

df['new'] = df['c'] * df['d']

mask = df['e'] < 10
df.loc[mask, 'new'] = df['c'] + df['d']

mask = df['e'] < 5
df.loc[mask, 'new'] = df['a'] + df['b']

CPU times: user 2.01 ms, sys: 850 µs, total: 2.86 ms
Wall time: 2.06 ms

In [17]:
%%time 
# np.vectorization

df['new'] = np.vectorize(func)(df['a'], df['b'], df['c'], df['d'], df['e'])

CPU times: user 2.44 ms, sys: 33 µs, total: 2.47 ms
Wall time: 2.45 ms